[submodule "src/nats-ros-connector"]
	path = src/nats-ros-connector
	url = https://github.com/aljanabim/nats-ros-connector
[submodule "src/svea_planners"]
	path = src/svea_planners
	url = https://github.com/kth-sml/svea_planners
[submodule "src/svea_spac"]
	path = src/svea_spac
	url = https://github.com/kth-sml/svea_spac
[submodule "src/zed-ros-wrapper"]
	path = src/zed-ros-wrapper
	url = https://github.com/stereolabs/zed-ros-wrapper
