<?xml version="1.0"?>
<launch>

    <!-- Launch file arguments -->
    <arg name="name"            default="svea7"/>
    <arg name="map"             default="sml"/>
    <arg name="is_sim"          default="true"/>
    <arg name="use_rviz"        default="true"/>
    <arg name="start_rviz"      default="false"/>
    <arg name="initial_pose_x"  default="2.5"/>
    <arg name="initial_pose_y"  default="-1.0"/>
    <arg name="initial_pose_a"  default="1.57" /> <!-- wrt to map-->

    <!-- Start map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find svea_core)/maps/$(arg map).yaml" output="screen"/>

    <!-- If is_sim equal to false, then include all these tags-->
    <group unless="$(arg is_sim)">

        <!-- Start low-level interface -->
        <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
            <param name="port" value="/dev/ttyACM0"/>
            <param name="baud" value="250000"/>
        </node>

        <!-- Start localization -->
        <include file="$(find svea_sensors)/launch/localize.launch">
            <arg name="initial_pose_x" value="$(arg initial_pose_x)" />
            <arg name="initial_pose_y" value="$(arg initial_pose_y)" />
            <arg name="initial_pose_a" value="$(arg initial_pose_a)" />
        </include>
    </group>

    <node name="nats_connector" pkg="nats_ros_connector" type="nats_connector.py" output="screen">
        <remap from="/$(arg name)/state"    to="/state"/>
        <remap from="/$(arg name)/path"     to="/path_plan"/>
        <remap from="/$(arg name)/goal"     to="/goal"/>
        <remap from="/$(arg name)/target"   to="/target"/>
        <rosparam subst_value="true">
        host: nats://130.237.50.52:4222 # nats://sml-wan.asuscomm.com 
        publishers:
          - /$(arg name)/state
          - /$(arg name)/path
          - /$(arg name)/goal
          - /$(arg name)/target
        subscribers:
          - /ltms/heartbeat
        service_proxies:
          - name: /ltms/request_path
            type: thesis_mvp/Path
        </rosparam>
    </node>

    <!-- Start RViz -->
    <node if="$(eval use_rviz and start_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find svea_core)/rviz/SVEA_floor2.rviz"/>
    <!-- Start pure_pursuit -->
    <node name="vehicle" pkg="thesis_mvp" type="vehicle.py" output="screen">
        <rosparam subst_value="true"> 
        name:       $(arg name)
        use_rviz:   $(arg use_rviz)
        is_sim:     $(arg is_sim)
        </rosparam>
        <rosparam if="$(eval name == 'svea7')">
        goal: B
        sim_start: [2.5, -1.0, 1.54]
        </rosparam>
        <rosparam if="$(eval name == 'svea4')">
        goal: C
        sim_start: [2.5, -2.0, 1.54]
        </rosparam>
    </node>
</launch>
